# Backend Configuration
DATABASE_URL=postgresql://neondb_owner:npg_HlFKNQ1xbW0z@ep-shy-glade-aipcevlw-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

JWT_SECRET=your-secret-key-change-in-production
COHERE_API_KEY=your-cohere-api-key-here

# Backend Port (default: 7689, change if needed)
PORT=7689

# Frontend Configuration
NEXT_PUBLIC_API_URL=https://saaddarbari-phase-3.hf.space
